openapi: 3.1.0
info:
  title: SVM Scan API
  version: '1.0'
  description: |
    **SVM Scan** is a read-only REST API that serves indexed data for the
    Steem Virtual Machine chain — a Cosmos SDK chain with an integrated EVM.
    It's the backend for [svmscan.blazeapps.org](https://svmscan.blazeapps.org),
    but is itself a public, unauthenticated API that anyone can call directly.

    A background indexer walks the chain block-by-block into MongoDB
    (backfill from genesis, then a live tail of new blocks), and this API
    serves that indexed data. A few endpoints are deliberate exceptions that
    proxy the chain (or an external LCD/EVM RPC) live instead of reading
    from the index — each one says so explicitly in its description below.

    ## Conventions

    - **Pagination**: every list endpoint returns the same envelope —
      `{ "data": [...], "pagination": { "page": 0, "perPage": 50, "total": 123 } }`.
      `page` is 0-indexed. Pass `?page=` and `?perPage=` as query strings;
      omitting them uses the endpoint's own default page size.
    - **Errors**: non-2xx responses are `{ "error": "human-readable message" }`.
    - **Timestamps**: always ISO-8601 UTC strings (e.g. `2026-08-12T00:32:29.334Z`).
    - **Big numbers as strings**: coin amounts, block heights used as ids,
      registration/deposit/withdrawal ids, and anything else that can exceed
      JavaScript's safe integer range is serialized as a **string**, not a
      JSON number. Only genuinely small integers (page numbers, counts,
      block heights used as heights) are real numbers.
    - **Denoms**: the chain's native token is `asteem` (18 decimals, symbol
      `STEEM`) — the EVM-side equivalent of the same token is also called
      STEEM. IBC denoms arrive as `ibc/<hash>`; use `GET /denoms/{denom}` or
      an account response's `resolvedDenoms` map to get the real symbol.
  contact:
    name: SVM Scan
    url: https://github.com/blazeapps007/SVM-SCAN
  license:
    name: GPL-2.0
    url: https://github.com/blazeapps007/SVM-SCAN/blob/main/LICENSE

servers:
  - url: https://svmscan.blazeapps.org/api
    description: Production
  - url: http://localhost:4000/api
    description: Local dev (pnpm dev:api)

# This API is entirely public and unauthenticated — declared explicitly so
# linters don't flag every operation as missing a security requirement.
security: []

tags:
  - name: Health
  - name: Network
  - name: Blocks
  - name: Transactions
  - name: Validators
  - name: Proposals
  - name: Accounts
  - name: IBC Transfers
  - name: Params
  - name: Denoms
  - name: EVM
  - name: Liquidity Pools
  - name: Bridge Deposits
    description: |
      The `steembridge` module's Steem → SVM deposit direction. A user sends
      STEEM to a gateway account on Steem with a memo tagging their SVM
      address; bonded validators (oracles) attest to the deposit, and once
      enough attestations land it's minted on-chain.
  - name: Bridge Withdrawals
    description: |
      The `steembridge` module's SVM → Steem direction ("bridge-out"). A
      user burns `asteem` via `MsgBridgeOut`, creating an immutable
      withdrawal record. There is currently no automated Steem-side payout —
      this is a queue for validators to relay manually.
  - name: Oracle
    description: |
      The `oracledata` module (`steemvm.oracle.data.v1`) — commit-reveal
      validator voting that produces power-weighted-median exchange rates for
      the pairs the `steembridge` module needs. **Not backed by MongoDB** —
      `/oracle/exchange-rates` proxies the LCD live, same as Name Service.
  - name: Name Service (SVMNS)
    description: |
      Steem Virtual Machine Name Service — links a Steem username to an SVM
      address through a registration lifecycle (pending → awaiting →
      active/superseded/expired). **Not backed by MongoDB** — every endpoint
      in this group proxies the chain's LCD REST API live (with a short
      server-side cache), because the underlying query surface has no way to
      enumerate "every name ever registered," only targeted lookups plus two
      status-filtered queues.

paths:
  /health:
    get:
      tags: [Health]
      operationId: getHealth
      summary: API and indexer health
      description: |
        Checks MongoDB and chain-RPC connectivity directly (not just "is the
        process up") and reports current indexer progress. This is what the
        frontend polls every 10s to decide whether to show the app or an
        "unreachable" screen — always returns HTTP 200, check `status` in
        the body, not the status code.
      responses:
        '200':
          description: OK (check `status` field — always HTTP 200 even when degraded)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
              example:
                status: ok
                mongo: true
                chain: true
                indexerMode: live
                lastIndexedHeight: 382210

  /network/status:
    get:
      tags: [Network]
      operationId: getNetworkStatus
      summary: Live network status
      description: Proxies the chain's current sync status directly (not indexed) — chain id, head height, peer count, catching-up flag, average block interval.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkStatusResponse'
              example:
                chainId: steemvm
                blockHeight: 382211
                catchingUp: false
                peered: 3
                blockInterval: 6.7

  /blocks:
    get:
      tags: [Blocks]
      operationId: listBlocks
      summary: List blocks
      description: Newest first. Default page size 50.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BlockSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - height: 382211
                    hash: 5552F75E87C8B5C6DFA8126DEEB097FF6CB03F1900156B0E80AE307F35AAA963
                    time: '2026-08-14T04:50:57.663Z'
                    proposerAddress: 56D6DF9A8F4DFA6DCF8CABB2F3C9DDE167C68372
                    appHash: B564B9FBDC6F58BECBE077E84E1B34C11D05245AED71F5CBC01D3C3B224018D5
                    txCount: 0
                pagination: { page: 0, perPage: 1, total: 382211 }

  /blocks/{height}:
    get:
      tags: [Blocks]
      operationId: getBlock
      summary: Get a block by height
      parameters:
        - $ref: '#/components/parameters/height'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BlockDetailResponse'
              example:
                height: 353345
                hash: 9588C1B80D7866742A563495D9791737C683B676B64EC79BAAAFA41A02913951
                time: '2026-08-12T00:32:29.334Z'
                proposerAddress: 64837863184C5B2C462593FCD5C366B0558C4EF4
                appHash: 34C979A8E10126D208206FA3A69613D69967752B52DE00622EDA0458C5507FFE
                txCount: 3
                txHashes:
                  - C05E4276B2B53C907E600335B67C3AD7F6A5BA028B87F841D7D65AB542DB5A0F
                  - EFFA7B8B3E862C666C68B487C00415472A849DEA8D03F60A0783DCCE7EBACF12
                  - 92F332E5091F9881BB60AAD23E52913534E641C2272AF7B9B7C732F384C9046C
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /blocks/{height}/transactions:
    get:
      tags: [Blocks]
      operationId: listBlockTransactions
      summary: List transactions in a block
      description: Unpaginated — returns every transaction in the block (block tx counts are always small).
      parameters:
        - $ref: '#/components/parameters/height'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransactionSummary'
        '400':
          $ref: '#/components/responses/BadRequest'

  /transactions:
    get:
      tags: [Transactions]
      operationId: listTransactions
      summary: List transactions
      description: Newest first. Default page size 50.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: type
          in: query
          description: Filter to transactions containing a message of this exact typeUrl (e.g. `/steemvm.oracle.data.v1.MsgAggregateExchangeRateVote`). See `GET /transactions/message-types` for the full set currently indexed.
          schema: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - hash: 5CD1859FDC00DBB168787B42F47F2D39658D3F3812E7B831BE9E30933638CA03
                    height: 379199
                    timestamp: '2026-08-13T23:22:00.430Z'
                    code: 0
                    success: true
                    messageTypes: ['/steemvm.steembridge.v1.MsgAttestDeposit']
                    fee: []
                    gasUsed: '68580'
                    gasWanted: '600000'
                pagination: { page: 0, perPage: 1, total: 9064 }

  /transactions/message-types:
    get:
      tags: [Transactions]
      operationId: listTransactionMessageTypes
      summary: Every distinct message typeUrl currently indexed
      description: Powers the type filter dropdown on the transactions list — index-covered `distinct()` over `transactions.messageTypes`, sorted alphabetically.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: string }
              example:
                - /cosmos.bank.v1beta1.MsgSend
                - /cosmos.staking.v1beta1.MsgDelegate
                - /steemvm.oracle.data.v1.MsgAggregateExchangeRatePrevote
                - /steemvm.oracle.data.v1.MsgAggregateExchangeRateVote
                - /steemvm.steembridge.v1.MsgAttestDeposit
                - /steemvm.steembridge.v1.MsgBridgeOut

  /transactions/{hash}:
    get:
      tags: [Transactions]
      operationId: getTransaction
      summary: Get a transaction by hash
      description: |
        Messages are decoded server-side (see `@dexplorer/shared`'s message
        registry) — a type this API doesn't have a named decoder for still
        decodes, just with generic `field_1`/`field_2`/... keys instead of
        real names. Five message types get extra enrichment merged into
        `data`: `MsgAttestDeposit`/`MsgSubmitNameRegistration`/
        `MsgAttestWithdrawalPayout`/`MsgAggregateExchangeRateVote`/
        `MsgAggregateExchangeRatePrevote` get an `oracleMoniker` (the
        attesting validator's moniker), and `MsgConfirmName` gets a
        `linkedSteemAccount`. `moduleAccounts` resolves any bech32 address in
        `events` to its Cosmos SDK module account name, where applicable.


        `{hash}` also accepts an EVM-format tx hash (`0x` + 64 hex chars —
        what MetaMask/an EVM wallet links to) for a `MsgEthereumTx`: it's
        resolved to the SVM tx that wraps it via the decoded inner hash, so
        the response's own `hash` field is still the outer Tendermint hash,
        not what was requested. If no such wrapper is indexed yet, this
        endpoint 404s even though the tx may still be visible via
        `GET /evm/tx/{hash}` directly (that endpoint queries the chain's EVM
        JSON-RPC live, independent of this indexer).
      parameters:
        - $ref: '#/components/parameters/hash'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionDetailResponse'
              example:
                hash: C05E4276B2B53C907E600335B67C3AD7F6A5BA028B87F841D7D65AB542DB5A0F
                height: 353345
                timestamp: '2026-08-12T00:32:29.334Z'
                code: 0
                success: true
                messageTypes: ['/steemvm.steembridge.v1.MsgAttestDeposit']
                fee: []
                gasUsed: '92488'
                gasWanted: '600000'
                log: ''
                memo: ''
                chainId: steemvm
                messages:
                  - typeUrl: /steemvm.steembridge.v1.MsgAttestDeposit
                    data:
                      validator: steem1u96tympny5r8m76psg5jr7fm8kcrg76w3rmpng
                      txid: 5da85737d515500e6cb23a02fd981263d8c7de7f
                      opIndex: 0
                      steemBlock: '108611220'
                      steemTimestamp: '2026-08-12T00:31:36'
                      steemSender: blaze.apps
                      gatewayAccount: svm.bank
                      amountMillisteem: '1000'
                      memo: svm-deposit 0x7fb5a561b74e7da7cd5fb1497830e96b3310d857
                      oracleMoniker: dhaka.witness
                events:
                  - type: deposit_created
                    attributes:
                      - { key: deposit_id, value: '1855' }
                      - { key: txid, value: 5da85737d515500e6cb23a02fd981263d8c7de7f }
                senders: ['steem1u96tympny5r8m76psg5jr7fm8kcrg76w3rmpng']
                ibcTransfer: null
                moduleAccounts:
                  steem10a2y3nc3kqn7cm2lhlkgfgt7du70rstwm0ul3x: steemblackhole
                  steem189zqgygvhf5j56st8698qa9nz6jjhu45d089kz: bridge_reward
                  steem17xpfvakm2amg962yls6f84z3kell8c5lxvg9x8: fee_collector
        '404':
          $ref: '#/components/responses/NotFound'

  /validators:
    get:
      tags: [Validators]
      operationId: listValidators
      summary: List validators
      description: Sorted by voting power (tokens) descending. Default page size 100.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: status
          in: query
          description: Pass `active` to only return bonded validators; omit for all (including jailed/unbonding).
          schema: { type: string, enum: [active] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ValidatorSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - operatorAddress: steemvaloper1ghedj9xr90sp3xqx6sx4ey2p0wul684gealm26
                    moniker: steem-agora.evm
                    identity: ''
                    status: BOND_STATUS_UNBONDING
                    jailed: true
                    tokens: '9702990123456790123457'
                    bondDenom: asteem
                    commissionRate: '100000000000000000'
                    votingPowerPercent: 1.2008437313791251
                pagination: { page: 0, perPage: 1, total: 13 }

  /validators/stats:
    get:
      tags: [Validators]
      operationId: getValidatorStats
      summary: Validator set summary
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorStats'
              example: { activeCount: 11, totalCount: 13, avgCommission: 10 }

  /validators/{identity}:
    get:
      tags: [Validators]
      operationId: getValidator
      summary: Get a validator
      description: The `identity` path segment matches against `identity` (Keybase), `moniker`, or `operatorAddress` — whichever hits first.
      parameters:
        - name: identity
          in: path
          required: true
          schema: { type: string }
          example: blaze.apps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidatorDetailResponse'
              example:
                operatorAddress: steemvaloper103n2lmnkhpsjr8yajganm2x26pq9rsp30gpzv4
                moniker: blaze.apps
                identity: ''
                status: BOND_STATUS_BONDED
                jailed: false
                tokens: '792000000000000000000'
                bondDenom: asteem
                commissionRate: '100000000000000000'
                votingPowerPercent: 0.7559966341118406
                website: ''
                details: owner=STM59ytBUdJ1DaSeFoz4GP5nBFiVBF2dpEDN4cHcR4wYFxWvE2ctR;active=STM5fvPvqwkwDTKXW1wsr7wPdeVXjetjvg1Wer8Zs7P24KFHht2Be;posting=STM5nr8yJLekbns9BNtx8FUxZTvphtfuNKVkTqCXswAjM6GTrQtdX
                delegatorShares: '800000000000000000000.000000000000000000'
                minSelfDelegation: '1'
                unbondingHeight: '20159'
                consensusPubkey: '{"typeUrl":"/cosmos.crypto.ed25519.PubKey","value":"MH24df+F3VnXpX0LquscMfOdFwJIPOTgCosxpDk0Hy8="}'
                uptime: { missedBlocksCounter: '0', signedBlocksWindow: '100' }
                pendingRewards: [{ denom: asteem, amount: '6357304896302555505.419127201143333997' }]
                accumulatedCommission: [{ denom: asteem, amount: '635730489630255550.541912720114333372' }]
        '404':
          $ref: '#/components/responses/NotFound'

  /proposals:
    get:
      tags: [Proposals]
      operationId: listProposals
      summary: List governance proposals
      description: Newest first. Default page size 10.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ProposalSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - id: 1
                    title: Set EVM min gas price to 0.0001 STEEM/gas
                    status: PROPOSAL_STATUS_VOTING_PERIOD
                    votingStartTime: '2026-08-21T10:12:43.401Z'
                    votingEndTime: '2026-08-23T10:12:43.401Z'
                    submitTime: '2026-08-21T10:12:43.401Z'
                pagination: { page: 0, perPage: 1, total: 7 }

  /proposals/stats:
    get:
      tags: [Proposals]
      operationId: getProposalStats
      summary: Proposal counts
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalStats'
              example: { total: 7, activeVoting: 0, passed: 3 }

  /proposals/{id}:
    get:
      tags: [Proposals]
      operationId: getProposal
      summary: Get a proposal
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: integer }
          example: 1
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProposalDetailResponse'
              example:
                id: 1
                title: Set EVM min gas price to 0.0001 STEEM/gas
                status: PROPOSAL_STATUS_VOTING_PERIOD
                votingStartTime: '2026-08-21T10:12:43.401Z'
                votingEndTime: '2026-08-23T10:12:43.401Z'
                submitTime: '2026-08-21T10:12:43.401Z'
                summary: Floors the EVM feemarket base fee at 100000000000000 asteem (0.0001 STEEM) per gas unit.
                proposer: steem1am0j95eum7tezy8n9fwjrj0nldkwaskg9xphh8
                depositEndTime: '2026-08-23T10:12:43.401Z'
                totalDeposit:
                  - { denom: asteem, amount: '10000000' }
                finalTallyResult:
                  yesCount: '100000000000000000000000'
                  noCount: '0'
                  abstainCount: '0'
                  noWithVetoCount: '0'
                expedited: false
                failedReason: ''
                messages:
                  - typeUrl: /cosmos.evm.feemarket.v1.MsgUpdateParams
                    data:
                      authority: steem10d07y265gmmuvt4z0w9aw880jnsr700jvhcqmf
                      params:
                        noBaseFee: false
                        baseFeeChangeDenominator: 8
                        elasticityMultiplier: 2
                        enableHeight: '0'
                        baseFee: '7.000000000000000000'
                        minGasPrice: '100000000000000.000000000000000000'
                        minGasMultiplier: '0.500000000000000000'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'

  /accounts/recent:
    get:
      tags: [Accounts]
      operationId: listRecentAccounts
      summary: Recently active accounts
      description: Derived from the last 200 indexed transactions' senders, not a dedicated collection.
      parameters:
        - name: limit
          in: query
          schema: { type: integer, default: 10, maximum: 50 }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RecentAccount'
              example:
                - address: steem1eldczteraanqjcp34wfwejavunsuavejaxv29q
                  lastMessageType: /steemvm.steembridge.v1.MsgAttestDeposit
                  lastActivityTime: '2026-08-13T23:22:00.430Z'

  /accounts/{address}:
    get:
      tags: [Accounts]
      operationId: getAccount
      summary: Get account balances and info
      description: |
        **Deliberate exception to the rest of this API**: balances and
        sequence are fetched live from the chain (not pre-indexed), since
        indexing balances for every address ever seen is out of scope.
        Cached server-side for 15s per address. `ibc/<hash>` balances are
        resolved to their real symbol/decimals in `resolvedDenoms`.
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountDetailResponse'
              example:
                address: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                accountNumber: '0'
                sequence: '0'
                balances:
                  - { denom: asteem, amount: '3000000000000000' }
                  - { denom: 'ibc/47BD209179859CDE4A2806763D7189B6E6FE13A17880FE2B42DE1E6C1E329E23', amount: '40000000' }
                stakedBalance: { amount: '557282717890820016844659', denom: asteem }
                validator:
                  operatorAddress: steemvaloper107662cdhfe760n2lk9yhsv8fdve3pkzh4gyrhl
                  moniker: blaze.apps
                  identity: ''
                resolvedDenoms:
                  asteem: { baseDenom: asteem, symbol: STEEM, decimals: 18, path: null }
                  'ibc/47BD209179859CDE4A2806763D7189B6E6FE13A17880FE2B42DE1E6C1E329E23':
                    { baseDenom: uosmo, symbol: OSMO, decimals: 6, path: transfer/channel-3 }

  /accounts/{address}/transactions:
    get:
      tags: [Accounts]
      operationId: listAccountTransactions
      summary: List an account's transactions
      description: Served from the `transactions` collection's indexed `senders` field. Default page size 10.
      parameters:
        - $ref: '#/components/parameters/address'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/TransactionSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - hash: 4CB232020C12F0394B364BF44CF5D3171C24DA7D557A2501272B4B8B197C6F01
                    height: 379192
                    timestamp: '2026-08-13T23:21:14.631Z'
                    code: 0
                    success: true
                    messageTypes: ['/steemvm.steembridge.v1.MsgAttestDeposit']
                    fee: []
                    gasUsed: '94216'
                    gasWanted: '600000'
                pagination: { page: 0, perPage: 1, total: 1292 }

  /ibc-transfers:
    get:
      tags: [IBC Transfers]
      operationId: listIbcTransfers
      summary: List IBC transfers
      description: Every indexed transaction whose events matched an IBC packet-transfer pattern. Newest first. Default page size 100.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/IBCTransferSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - sender: steem1eulhdpvfw3v4rmqtd6tpa7uy9lpsrkld0fqcuy
                    receiver: osmo1g7w50yw6572u246w74nkgw6nhy8g2mz8nepznq
                    sourceChannel: channel-3
                    sourcePort: transfer
                    destinationChannel: channel-11812
                    destinationPort: transfer
                    amount: '1000000000000000000'
                    denom: asteem
                    memo: ''
                    hash: 333747AE5A25D51E49AFFD5BF81B217E3FE1A7FB6073475E2DF2A64EE489E9D1
                    height: 332761
                    timestamp: '2026-08-10T10:27:14.793Z'
                    status: success
                pagination: { page: 0, perPage: 1, total: 17 }

  /params:
    get:
      tags: [Params]
      operationId: getParams
      summary: Chain module parameters
      description: |
        Aggregate of staking/mint/distribution/slashing/gov params (queried via ABCI, refreshed periodically) plus `bridge`/`oracle` params (queried over LCD from the chain's custom `steembridge`/`oracledata` modules — `null` when `STEEMBRIDGE_LCD_URL` isn't configured).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChainParamsResponse'
              example:
                staking: { unbondingTime: { seconds: 2419200, nanos: 0 }, maxValidators: 100, bondDenom: asteem }
                mint: { mintDenom: asteem, blocksPerYear: 5259600 }
                distribution: { communityTax: '500000000000000000', withdrawAddrEnabled: true }
                slashing: { signedBlocksWindow: 100, downtimeJailDuration: { seconds: 600, nanos: 0 } }
                gov:
                  votingParams: { votingPeriod: { seconds: 172800, nanos: 0 } }
                  depositParams: { minDeposit: [{ denom: asteem, amount: '10000000000000000000' }] }
                  tallyParams: { quorum: '0.334000000000000000', threshold: '0.500000000000000000' }
                bridge:
                  bridgeEnabled: true
                  bridgeOutEnabled: true
                  gatewayAccount: svm.bank
                  bridgeConfirmationThreshold: '0.666666666666666667'
                  minimumBridgeAmount: '0'
                  maximumBridgeAmount: '0'
                  depositTimeoutBlocks: '50400'
                  nameServiceEnabled: true
                  nameRegistrationMinMillisteem: '1'
                  namePendingTimeoutBlocks: '50400'
                  relayerStartBlock: '0'
                  bridgeFeeBps: 25
                  withdrawalTimeoutBlocks: '50400'
                oracle:
                  votePeriod: '600'
                  voteThreshold: '0.500000000000000000'
                  rewardBand: '0.020000000000000000'
                  missBand: '0.030000000000000000'
                  whitelist: [STEEM/USD_External, STEEM/SBD_Internal, SBD/USD_External, Price_Feed]

  /oracle/exchange-rates:
    get:
      tags: [Oracle]
      operationId: listOracleExchangeRates
      summary: Current finalized exchange rate for every whitelisted pair
      description: Live LCD proxy (30s cache), not indexed — rates only change once per oracle vote period.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangeRate'
              example:
                - pair: Price_Feed
                  rate: '0.104502035447605955'
                  updateEpoch: '4'
                  updateTime: '1787225133'
                - pair: SBD/USD_External
                  rate: '0.367276276618312100'
                  updateEpoch: '4'
                  updateTime: '1787225133'
                - pair: STEEM/SBD_Internal
                  rate: '0.093000000000000000'
                  updateEpoch: '4'
                  updateTime: '1787225133'
                - pair: STEEM/USD_External
                  rate: '0.037165851221533240'
                  updateEpoch: '4'
                  updateTime: '1787225133'
        '503':
          description: STEEMBRIDGE_LCD_URL isn't configured on this deployment
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example: { error: 'Oracle data unavailable' }

  /denoms:
    get:
      tags: [Denoms]
      operationId: listDenoms
      summary: List known denom metadata
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DenomMetadataResponse'
              example:
                - { denom: asteem, displayName: Steem, symbol: STEEM, decimals: 18, source: seed }
                - { denom: 'ibc/47BD209179859CDE4A2806763D7189B6E6FE13A17880FE2B42DE1E6C1E329E23', displayName: 'transfer/channel-3/uosmo IBC token', symbol: UOSMO, decimals: 0, source: seed }

  /denoms/{denom}:
    get:
      tags: [Denoms]
      operationId: getDenom
      summary: Get denom metadata
      description: 'Falls back to a heuristic guess (source: "fallback") for an unrecognized denom instead of 404ing.'
      parameters:
        - name: denom
          in: path
          required: true
          schema: { type: string }
          example: asteem
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DenomMetadataResponse'
              example: { denom: asteem, displayName: Steem, symbol: STEEM, decimals: 18, source: seed }

  /evm/tx/{hash}:
    get:
      tags: [EVM]
      operationId: getEvmTransaction
      summary: Get EVM transaction execution details
      description: Proxies the chain's own EVM JSON-RPC live (10 min server-side cache) — decoded ERC-20/NFT `Transfer`/`Deposit` log events plus the raw native-value transfer amount.
      parameters:
        - name: hash
          in: path
          required: true
          description: 0x-prefixed EVM transaction hash (not the Cosmos tx hash).
          schema: { type: string }
          example: '0xe5ca13579c3cf49d5d4fd99573fd69a92f03e008d6333589fde5ce559a0bc335'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvmTransactionDetails'
              example:
                hash: '0x6ea0d5e68d94d9c382f344cca86a5d229205c118560857b45fb8b7fdb02615db'
                status: ok
                method: null
                from: '0xeedf22d33cdf979110f32a5d21c9f3fb6ceec2c8'
                to: '0x25a7400b6b62874b24714c45d1c6d90414c506de'
                toIsContract: false
                value: '100000000000000000000'
                gasUsed: '21000'
                gasPrice: '0'
                fee: '0'
                tokenTransfers: []
                explorerUrl: 'https://evmscan.steemscanner.com/tx/0x6ea0d5e68d94d9c382f344cca86a5d229205c118560857b45fb8b7fdb02615db'
        '404':
          $ref: '#/components/responses/NotFound'

  /evm/address/{address}/tokens:
    get:
      tags: [EVM]
      operationId: listAddressTokens
      summary: List ERC-20/NFT tokens held by an address
      description: |
        Proxies the chain's Blockscout instance (1 min server-side cache) —
        there's no way to enumerate "every token an address holds" via
        JSON-RPC alone. Fails soft to `[]` if Blockscout is unreachable,
        since this is supplementary to the account page, not load-bearing.
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AddressTokenHolding'
              example:
                - tokenAddress: '0x3250B0340c49895243150AfBFC3995F08A52670D'
                  tokenType: ERC-20
                  name: Simple token
                  symbol: SPT
                  decimals: '18'
                  value: '1000000000000000000000000000000'

  /liquidity-pools:
    get:
      tags: [Liquidity Pools]
      operationId: listLiquidityPools
      summary: List EVM liquidity pools
      description: Every Uniswap-V3-style `PoolCreated` event seen while indexing `MsgEthereumTx` transactions. Newest first. Default page size 25.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiquidityPoolSummary'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - poolAddress: '0x9fcf2f4aa3b98de27f797af62896be8d374b0ae7'
                    factoryAddress: '0xc069cbb7b177580313d8027482f08add61315d83'
                    token0: { address: '0x8d6538fc7f0929fb24e5d41d81560f12bf3ed783', name: TOKENB, symbol: TOKENB, decimals: '18' }
                    token1: { address: '0xd6ffe15d1b9835ea88a4de826bd33a67adf1a343', name: TOKENA, symbol: MTK, decimals: '18' }
                    fee: '2500'
                    tickSpacing: '50'
                    createdAtHeight: 301687
                    createdAtTxHash: '0x8492fc7e74509950009520298b602ba03572ba02500f8fb088216e454dcca546'
                    createdAt: '2026-08-08T00:58:47.368Z'
                pagination: { page: 0, perPage: 1, total: 8 }

  /bridge-deposits:
    get:
      tags: [Bridge Deposits]
      operationId: listBridgeDeposits
      summary: List bridge deposits
      description: Sorted by internal id descending (newest first). Default page size 25.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: status
          in: query
          schema: { type: string, enum: [pending, minted, unclaimable] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BridgeDeposit'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - id: '1860'
                    txid: 66e253b62f033225894d2cd86236adb7b2880bb3
                    opIndex: 0
                    steemBlock: '108667185'
                    steemTimestamp: '2026-08-13T23:20:24Z'
                    steemSender: blaze.apps
                    gatewayAccount: svm.bank
                    amountMillisteem: '3'
                    memo: svm-deposit 0x7fb5a561b74e7da7cd5fb1497830e96b3310d857
                    derivedDestination: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                    destinationType: DESTINATION_TYPE_EVM
                    status: DEPOSIT_STATUS_MINTED
                    minted: true
                    mintedAt: '379199'
                    mintTxHash: 86f7f5541622f020b19d0d001adb0762439ab336edbd97ce6f3a8d7d4496c301
                    createdAtHeight: '379191'
                    validatorConfirmations:
                      - validatorAddress: steemvaloper1u96tympny5r8m76psg5jr7fm8kcrg76wms5jgt
                        moniker: dhaka.witness
                        timestamp: '1786663267'
                    asset: BRIDGE_ASSET_STEEM
                pagination: { page: 0, perPage: 1, total: 1743 }

  /bridge-deposits/stats:
    get:
      tags: [Bridge Deposits]
      operationId: getBridgeDepositStats
      summary: Deposit counts by status, plus per-asset counts and minted totals
      description: '`countByAsset` and `mintedByAsset` are computed from our own indexed `bridgeDeposits` (MongoDB aggregation grouped by `asset`; `mintedByAsset` sums via `$sum`/`$toDecimal` over MINTED deposits only, `countByAsset` counts every status) — not a chain LCD call, since the chain''s `bridge_statistics` only tracks STEEM. Excludes SVMNS name-registration mints (`MsgSubmitNameRegistration` also mints asteem 1:1 on confirmation but isn''t tracked as a deposit).'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeDepositStats'
              example:
                pending: 2
                minted: 1743
                unclaimable: 113
                total: 1861
                countByAsset:
                  - asset: BRIDGE_ASSET_SBD
                    count: 1
                  - asset: BRIDGE_ASSET_STEEM
                    count: 1860
                mintedByAsset:
                  - asset: BRIDGE_ASSET_SBD
                    amountMillisteem: '1'
                  - asset: BRIDGE_ASSET_STEEM
                    amountMillisteem: '30014001'

  /bridge-deposits/{idOrTxid}:
    get:
      tags: [Bridge Deposits]
      operationId: getBridgeDeposit
      summary: Get a deposit by internal id or Steem txid
      parameters:
        - name: idOrTxid
          in: path
          required: true
          schema: { type: string }
          example: '8'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeDeposit'
              example:
                id: '8'
                txid: 9be06037c04bcdfa61de6a701dbe2220e2f1ec1a
                opIndex: 0
                steemBlock: '107853469'
                steemTimestamp: '2026-07-16T14:05:06Z'
                steemSender: blaze.apps
                gatewayAccount: blaze.apps
                amountMillisteem: '318971'
                memo: svm-deposit steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                derivedDestination: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                destinationType: DESTINATION_TYPE_COSMOS
                status: DEPOSIT_STATUS_MINTED
                minted: true
                mintedAt: '12693'
                mintTxHash: 1b901c472e1faa79393e826fc16ce3ccdcb07c14489e57beef797d5e6d93be16
                createdAtHeight: '12646'
                validatorConfirmations:
                  - validatorAddress: steemvaloper107662cdhfe760n2lk9yhsv8fdve3pkzh4gyrhl
                    moniker: blaze.apps
                    timestamp: '1784211183'
                asset: BRIDGE_ASSET_STEEM
        '404':
          $ref: '#/components/responses/NotFound'

  /bridge-withdrawals:
    get:
      tags: [Bridge Withdrawals]
      operationId: listBridgeWithdrawals
      summary: List bridge withdrawals
      description: Sorted by internal id descending. Default page size 25.
      parameters:
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/perPage'
        - name: status
          in: query
          schema: { type: string, enum: [requested, processed, refunded] }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BridgeWithdrawal'
                  pagination:
                    $ref: '#/components/schemas/PaginationMeta'
              example:
                data:
                  - id: '1'
                    sender: steem1am0j95eum7tezy8n9fwjrj0nldkwaskg9xphh8
                    destinationSteemAccount: blaze.apps
                    amountAsteem: '1000000000000000000'
                    amountMillisteem: '998'
                    memo: test withdrawal
                    burnTxHash: 6625728b191751a5b488824f8141b7169e9e85f4d527a5e9c0f13a17a091a693
                    status: WITHDRAWAL_STATUS_PROCESSED
                    createdAtHeight: '10746'
                    asset: BRIDGE_ASSET_STEEM
                    feeMillisteem: '2'
                    steemPayoutTxid: efcf2883481218cc52ca111b731b743ac6f8ff91
                    payoutOpIndex: 0
                    processedAtHeight: '10767'
                    refundedAtHeight: '0'
                    validatorConfirmations:
                      - validatorAddress: steemvaloper1am0j95eum7tezy8n9fwjrj0nldkwaskg04wyvy
                        moniker: null
                        timestamp: '1787267155'
                pagination: { page: 0, perPage: 1, total: 2 }

  /bridge-withdrawals/stats:
    get:
      tags: [Bridge Withdrawals]
      operationId: getBridgeWithdrawalStats
      summary: Withdrawal counts, plus withdrawn totals per asset
      description: '`withdrawnByAsset` is computed from our own indexed `bridgeWithdrawals` (MongoDB `$sum`/`$toDecimal` aggregation, grouped by `asset`) — not a chain LCD call, since the chain''s `bridge_statistics` only tracks STEEM. Not status-filtered: includes REQUESTED/PROCESSED/REFUNDED alike, since the burn already happened by the time a withdrawal is indexed at all.'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeWithdrawalStats'
              example:
                total: 2
                requested: 0
                processed: 2
                withdrawnByAsset:
                  - asset: BRIDGE_ASSET_STEEM
                    amountMillisteem: '1996'

  /bridge-withdrawals/{idOrBurnTxHash}:
    get:
      tags: [Bridge Withdrawals]
      operationId: getBridgeWithdrawal
      summary: Get a withdrawal by internal id or burn transaction hash
      parameters:
        - name: idOrBurnTxHash
          in: path
          required: true
          schema: { type: string }
          example: '2'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BridgeWithdrawal'
              example:
                id: '0'
                sender: steem1am0j95eum7tezy8n9fwjrj0nldkwaskg9xphh8
                destinationSteemAccount: blaze.apps
                amountAsteem: '1000000000000000000'
                amountMillisteem: '998'
                memo: test withdrawal
                burnTxHash: 5302a993cc263b147f41d46421be66fd1c94bb6cb05a0f895d692cbf9534c71e
                status: WITHDRAWAL_STATUS_PROCESSED
                createdAtHeight: '10732'
                asset: BRIDGE_ASSET_STEEM
                feeMillisteem: '2'
                steemPayoutTxid: 64ecd95b9a52e8557eedbeacb693d87e1c005e8e
                payoutOpIndex: 0
                processedAtHeight: '10764'
                refundedAtHeight: '0'
                validatorConfirmations:
                  - validatorAddress: steemvaloper1am0j95eum7tezy8n9fwjrj0nldkwaskg04wyvy
                    moniker: null
                    timestamp: '1787267140'
        '404':
          $ref: '#/components/responses/NotFound'

  /name-service/resolve/{steemAccount}:
    get:
      tags: [Name Service (SVMNS)]
      operationId: resolveNameServiceName
      summary: Resolve a Steem username to its currently linked address
      parameters:
        - name: steemAccount
          in: path
          required: true
          schema: { type: string }
          example: blaze.apps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameRecord'
              example:
                steemAccount: blaze.apps
                address: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                registrationId: '7'
                linkedAt: '23907'
        '404':
          description: No active name link for this account
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
              example: { error: 'Name not found' }
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

  /name-service/by-address/{address}:
    get:
      tags: [Name Service (SVMNS)]
      operationId: listNamesByAddress
      summary: Reverse lookup — every active name an address owns
      parameters:
        - $ref: '#/components/parameters/address'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NameRecord'
              example:
                - steemAccount: blaze.apps
                  address: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu
                  registrationId: '7'
                  linkedAt: '23907'
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

  /name-service/registrations-by-account/{steemAccount}:
    get:
      tags: [Name Service (SVMNS)]
      operationId: listNameRegistrationsByAccount
      summary: Full registration history for a Steem username
      description: Every registration attempt ever submitted for this account — pending, awaiting, active, superseded, and expired. The only way to enumerate a name's history, since there's no generic "list all registrations" query.
      parameters:
        - name: steemAccount
          in: path
          required: true
          schema: { type: string }
          example: blaze.apps
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NameRegistration'
              example:
                - id: '0'
                  txid: '0000000000000000000000000000000000000000'
                  opIndex: 0
                  steemBlock: '0'
                  steemTimestamp: genesis
                  steemAccount: blaze.apps
                  gatewayAccount: blaze.apps
                  amountMillisteem: '1'
                  memo: steem1l6p4lh7plepjqv2muhuk6m8k2envnvv9utknlu
                  derivedDestination: steem1l6p4lh7plepjqv2muhuk6m8k2envnvv9utknlu
                  destinationType: DESTINATION_TYPE_COSMOS
                  status: NAME_REGISTRATION_STATUS_SUPERSEDED
                  createdAtHeight: '0'
                  awaitingSinceHeight: '0'
                  confirmedAtHeight: '0'
                  confirmTxHash: ''
                  validatorConfirmations: []
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

  /name-service/registrations/pending:
    get:
      tags: [Name Service (SVMNS)]
      operationId: listPendingNameRegistrations
      summary: Registrations still accumulating validator attestations
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NameRegistration'
              example: []
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

  /name-service/registrations/awaiting:
    get:
      tags: [Name Service (SVMNS)]
      operationId: listAwaitingNameRegistrations
      summary: Registrations awaiting the destination's confirm-name transaction
      description: Reached the attestation threshold but not yet confirmed by the destination address.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NameRegistration'
              example: []
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

  /name-service/registrations/{id}:
    get:
      tags: [Name Service (SVMNS)]
      operationId: getNameRegistration
      summary: Get a registration by id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
          example: '26'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameRegistration'
              example:
                id: '26'
                txid: 13e5acea13fd674e3f4ed6f2819d8c423d7a6107
                opIndex: 0
                steemBlock: '108627196'
                steemTimestamp: '2026-08-12T13:53:33Z'
                steemAccount: steem-agora
                gatewayAccount: svm.bank
                amountMillisteem: '1'
                memo: svm-register steem1p58n3cf3jjhsx2q5hy0n5t6ygulwg6x7ewqfjk
                derivedDestination: steem1p58n3cf3jjhsx2q5hy0n5t6ygulwg6x7ewqfjk
                destinationType: DESTINATION_TYPE_COSMOS
                status: NAME_REGISTRATION_STATUS_ACTIVE
                createdAtHeight: '360730'
                awaitingSinceHeight: '360738'
                confirmedAtHeight: '360769'
                confirmTxHash: ad399b7828dcfb8e4734af7a79523b879f9e25c008f3614ee335936ef1159da7
                validatorConfirmations:
                  - validatorAddress: steemvaloper1u96tympny5r8m76psg5jr7fm8kcrg76wms5jgt
                    moniker: dhaka.witness
                    timestamp: '1786542867'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/NameServiceUnavailable'

components:
  parameters:
    page:
      name: page
      in: query
      description: 0-indexed page number.
      schema: { type: integer, default: 0, minimum: 0 }
    perPage:
      name: perPage
      in: query
      description: Items per page (endpoint-specific default and max).
      schema: { type: integer, minimum: 1, maximum: 200 }
    height:
      name: height
      in: path
      required: true
      schema: { type: integer }
      example: 353345
    hash:
      name: hash
      in: path
      required: true
      description: Cosmos transaction hash, case-insensitive.
      schema: { type: string }
      example: C05E4276B2B53C907E600335B67C3AD7F6A5BA028B87F841D7D65AB542DB5A0F
    address:
      name: address
      in: path
      required: true
      description: bech32 account address.
      schema: { type: string }
      example: steem107662cdhfe760n2lk9yhsv8fdve3pkzhlmtsvu

  responses:
    NotFound:
      description: Not found
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          example: { error: 'Not found' }
    BadRequest:
      description: Invalid parameter
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          example: { error: 'Invalid block height' }
    NameServiceUnavailable:
      description: STEEMBRIDGE_LCD_URL isn't configured on this deployment
      content:
        application/json:
          schema: { $ref: '#/components/schemas/ErrorResponse' }
          example: { error: 'Name service unavailable' }

  schemas:
    ErrorResponse:
      type: object
      properties:
        error: { type: string }
      required: [error]

    PaginationMeta:
      type: object
      properties:
        page: { type: integer }
        perPage: { type: integer }
        total: { type: integer }
      required: [page, perPage, total]

    Coin:
      type: object
      properties:
        denom: { type: string }
        amount: { type: string }
      required: [denom, amount]

    HealthResponse:
      type: object
      properties:
        status: { type: string, enum: [ok, degraded] }
        mongo: { type: boolean }
        chain: { type: boolean }
        indexerMode: { type: string, enum: [backfill, live] }
        lastIndexedHeight: { type: integer }
      required: [status, mongo, chain, indexerMode, lastIndexedHeight]

    NetworkStatusResponse:
      type: object
      properties:
        chainId: { type: string }
        blockHeight: { type: integer }
        catchingUp: { type: boolean }
        peered: { type: integer }
        blockInterval: { type: number, description: Average seconds between blocks. }
      required: [chainId, blockHeight, catchingUp, peered, blockInterval]

    BlockSummary:
      type: object
      properties:
        height: { type: integer }
        hash: { type: string }
        time: { type: string, format: date-time }
        proposerAddress: { type: string }
        appHash: { type: string }
        txCount: { type: integer }
      required: [height, hash, time, proposerAddress, appHash, txCount]

    BlockDetailResponse:
      allOf:
        - $ref: '#/components/schemas/BlockSummary'
        - type: object
          properties:
            txHashes:
              type: array
              items: { type: string }
          required: [txHashes]

    TransactionSummary:
      type: object
      properties:
        hash: { type: string }
        height: { type: integer }
        timestamp: { type: string, format: date-time }
        code: { type: integer, description: 0 means success. }
        success: { type: boolean }
        messageTypes:
          type: array
          items: { type: string }
        fee:
          type: array
          items: { $ref: '#/components/schemas/Coin' }
        gasUsed: { type: string }
        gasWanted: { type: string }
      required: [hash, height, timestamp, code, success, messageTypes, fee, gasUsed, gasWanted]

    DecodeMsg:
      type: object
      description: A decoded Cosmos SDK message. `data`'s shape depends on `typeUrl` — see the message-type registry in `packages/shared/src/encoding/msg.ts`.
      properties:
        typeUrl: { type: string }
        data:
          type: [object, 'null']
          additionalProperties: true
      required: [typeUrl, data]

    EventAttribute:
      type: object
      properties:
        key: { type: string }
        value: { type: string }
        index: { type: boolean }
      required: [key, value]

    TxEvent:
      type: object
      properties:
        type: { type: string }
        attributes:
          type: array
          items: { $ref: '#/components/schemas/EventAttribute' }
      required: [type, attributes]

    IBCTransferFields:
      type: object
      properties:
        sender: { type: string }
        receiver: { type: string }
        sourceChannel: { type: string }
        sourcePort: { type: string }
        destinationChannel: { type: string }
        destinationPort: { type: string }
        amount: { type: string }
        denom: { type: string }
        memo: { type: string }
      required: [sender, receiver, sourceChannel, sourcePort, destinationChannel, destinationPort, amount, denom, memo]

    TransactionDetailResponse:
      allOf:
        - $ref: '#/components/schemas/TransactionSummary'
        - type: object
          properties:
            log: { type: string }
            memo: { type: string }
            chainId: { type: string }
            messages:
              type: array
              items: { $ref: '#/components/schemas/DecodeMsg' }
            events:
              type: array
              items: { $ref: '#/components/schemas/TxEvent' }
            senders:
              type: array
              items: { type: string }
            ibcTransfer:
              oneOf:
                - $ref: '#/components/schemas/IBCTransferFields'
                - type: 'null'
            moduleAccounts:
              type: object
              additionalProperties: { type: string }
              description: bech32 address -> Cosmos SDK module account name (e.g. "fee_collector", "bridge_reward", "steemblackhole"), for labeling module accounts that show up as a sender/receiver in `events`. Empty when STEEMBRIDGE_LCD_URL isn't configured.
          required: [log, memo, chainId, messages, events, senders, ibcTransfer, moduleAccounts]

    ValidatorSummary:
      type: object
      properties:
        operatorAddress: { type: string }
        moniker: { type: string }
        identity: { type: string }
        status: { type: string }
        jailed: { type: boolean }
        tokens: { type: string }
        bondDenom: { type: string }
        commissionRate: { type: string }
        votingPowerPercent: { type: number }
      required: [operatorAddress, moniker, identity, status, jailed, tokens, bondDenom, commissionRate, votingPowerPercent]

    ValidatorUptime:
      type: object
      properties:
        missedBlocksCounter: { type: string }
        signedBlocksWindow: { type: string }
      required: [missedBlocksCounter, signedBlocksWindow]

    ValidatorDetailResponse:
      allOf:
        - $ref: '#/components/schemas/ValidatorSummary'
        - type: object
          properties:
            website: { type: string }
            details: { type: string }
            delegatorShares: { type: string, description: 'Human-decimal atto-denominated amount (18 fractional digits), e.g. "161500000000000000000000.000000000000000000" — already decoded from the raw LegacyDec wire encoding, so it needs only the standard atto->STEEM conversion like `tokens`, not a second Dec-decode step.' }
            minSelfDelegation: { type: string }
            unbondingHeight: { type: string }
            consensusPubkey:
              oneOf: [{ type: string }, { type: 'null' }]
            uptime:
              oneOf:
                - $ref: '#/components/schemas/ValidatorUptime'
                - type: 'null'
            pendingRewards:
              description: 'Live (not indexed — accrues every block) un-withdrawn rewards, split between delegators and the validator''s own commission cut. Amounts are already Dec-decoded but still atto-denominated, same convention as delegatorShares. null if the live distribution-module query failed.'
              oneOf:
                - type: array
                  items: { $ref: '#/components/schemas/Coin' }
                - type: 'null'
            accumulatedCommission:
              description: "The validator's own cut of pendingRewards (what it would receive on withdrawal) — a subset of pendingRewards, not additional to it. Same null-on-failure convention."
              oneOf:
                - type: array
                  items: { $ref: '#/components/schemas/Coin' }
                - type: 'null'
          required: [website, details, delegatorShares, minSelfDelegation, unbondingHeight, consensusPubkey, uptime, pendingRewards, accumulatedCommission]

    ValidatorStats:
      type: object
      properties:
        activeCount: { type: integer }
        totalCount: { type: integer }
        avgCommission: { type: number }
      required: [activeCount, totalCount, avgCommission]

    ProposalSummary:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        status: { type: string }
        votingStartTime: { oneOf: [{ type: string, format: date-time }, { type: 'null' }] }
        votingEndTime: { oneOf: [{ type: string, format: date-time }, { type: 'null' }] }
        submitTime: { oneOf: [{ type: string, format: date-time }, { type: 'null' }] }
      required: [id, title, status, votingStartTime, votingEndTime, submitTime]

    ProposalDetailResponse:
      allOf:
        - $ref: '#/components/schemas/ProposalSummary'
        - type: object
          properties:
            summary: { type: string }
            proposer: { type: string }
            depositEndTime: { oneOf: [{ type: string, format: date-time }, { type: 'null' }] }
            totalDeposit:
              type: array
              items: { $ref: '#/components/schemas/Coin' }
            finalTallyResult:
              oneOf:
                - type: object
                  properties:
                    yesCount: { type: string }
                    noCount: { type: string }
                    abstainCount: { type: string }
                    noWithVetoCount: { type: string }
                  required: [yesCount, noCount, abstainCount, noWithVetoCount]
                - type: 'null'
            messages:
              type: array
              items: { $ref: '#/components/schemas/DecodeMsg' }
            expedited: { type: boolean, description: Gov v1's expedited-proposal path (shorter voting period, higher pass threshold). }
            failedReason: { type: string, description: 'Set only if status is PROPOSAL_STATUS_FAILED (passed, but its messages then failed to execute on-chain); empty string otherwise, including for PROPOSAL_STATUS_REJECTED.' }
          required: [summary, proposer, depositEndTime, totalDeposit, finalTallyResult, messages, expedited, failedReason]

    ProposalStats:
      type: object
      properties:
        total: { type: integer }
        activeVoting: { type: integer }
        passed: { type: integer }
      required: [total, activeVoting, passed]

    AccountValidatorLink:
      type: object
      properties:
        operatorAddress: { type: string }
        moniker: { type: string }
        identity: { type: string }
      required: [operatorAddress, moniker, identity]

    ResolvedDenom:
      type: object
      properties:
        baseDenom: { type: string }
        symbol: { type: string }
        decimals: { type: integer }
        path: { oneOf: [{ type: string }, { type: 'null' }] }
      required: [baseDenom, symbol, decimals, path]

    AccountDetailResponse:
      type: object
      properties:
        address: { type: string }
        accountNumber: { type: string }
        sequence: { type: string }
        balances:
          type: array
          items: { $ref: '#/components/schemas/Coin' }
        stakedBalance:
          oneOf:
            - $ref: '#/components/schemas/Coin'
            - type: 'null'
        validator:
          oneOf:
            - $ref: '#/components/schemas/AccountValidatorLink'
            - type: 'null'
        resolvedDenoms:
          type: object
          additionalProperties: { $ref: '#/components/schemas/ResolvedDenom' }
      required: [address, accountNumber, sequence, balances, stakedBalance, validator, resolvedDenoms]

    RecentAccount:
      type: object
      properties:
        address: { type: string }
        lastMessageType: { type: string }
        lastActivityTime: { type: string, format: date-time }
      required: [address, lastMessageType, lastActivityTime]

    IBCTransferSummary:
      allOf:
        - $ref: '#/components/schemas/IBCTransferFields'
        - type: object
          properties:
            hash: { type: string }
            height: { type: integer }
            timestamp: { type: string, format: date-time }
            status: { type: string, enum: [success, failed] }
          required: [hash, height, timestamp, status]

    EvmTokenTransfer:
      type: object
      properties:
        type: { type: string, enum: [token_transfer, token_minting] }
        from: { type: string }
        to: { type: string }
        tokenAddress: { type: string }
        tokenName: { oneOf: [{ type: string }, { type: 'null' }] }
        tokenSymbol: { oneOf: [{ type: string }, { type: 'null' }] }
        tokenDecimals: { oneOf: [{ type: string }, { type: 'null' }] }
        amount: { oneOf: [{ type: string }, { type: 'null' }] }
      required: [type, from, to, tokenAddress, tokenName, tokenSymbol, tokenDecimals, amount]

    EvmTransactionDetails:
      type: object
      properties:
        hash: { type: string }
        status: { type: string, enum: [ok, error] }
        method: { oneOf: [{ type: string }, { type: 'null' }], description: A best-effort label for known selectors (e.g. ERC-20 transfer); null for a plain value transfer or an unrecognized selector. }
        from: { type: string }
        to: { oneOf: [{ type: string }, { type: 'null' }] }
        toIsContract: { type: boolean }
        value: { type: string, description: 'Native asteem transferred, 18 decimals.' }
        gasUsed: { type: string }
        gasPrice: { type: string, description: 'Wei-per-gas actually charged (the receipt''s effectiveGasPrice). The wrapping Cosmos tx''s own `fee` is always empty for a MsgEthereumTx on this chain, so this (and `fee` below) is the only place the real cost is observable.' }
        fee: { type: string, description: 'gasUsed * gasPrice, in the native 18-decimal asteem base unit — the actual amount deducted from `from` for this transaction.' }
        tokenTransfers:
          type: array
          items: { $ref: '#/components/schemas/EvmTokenTransfer' }
        explorerUrl: { oneOf: [{ type: string }, { type: 'null' }] }
      required: [hash, status, method, from, to, toIsContract, value, gasUsed, gasPrice, fee, tokenTransfers, explorerUrl]

    AddressTokenHolding:
      type: object
      properties:
        tokenAddress: { type: string }
        tokenType: { type: string }
        name: { oneOf: [{ type: string }, { type: 'null' }] }
        symbol: { oneOf: [{ type: string }, { type: 'null' }] }
        decimals: { oneOf: [{ type: string }, { type: 'null' }] }
        value: { type: string }
      required: [tokenAddress, tokenType, name, symbol, decimals, value]

    LiquidityPoolTokenInfo:
      type: object
      properties:
        address: { type: string }
        name: { oneOf: [{ type: string }, { type: 'null' }] }
        symbol: { oneOf: [{ type: string }, { type: 'null' }] }
        decimals: { oneOf: [{ type: string }, { type: 'null' }] }
      required: [address, name, symbol, decimals]

    LiquidityPoolSummary:
      type: object
      properties:
        poolAddress: { type: string }
        factoryAddress: { type: string }
        token0: { $ref: '#/components/schemas/LiquidityPoolTokenInfo' }
        token1: { $ref: '#/components/schemas/LiquidityPoolTokenInfo' }
        fee: { type: string, description: 'Hundredths of a basis point, e.g. "2500" = 0.25%.' }
        tickSpacing: { type: string }
        createdAtHeight: { type: integer }
        createdAtTxHash: { type: string }
        createdAt: { type: string, format: date-time }
      required: [poolAddress, factoryAddress, token0, token1, fee, tickSpacing, createdAtHeight, createdAtTxHash, createdAt]

    BridgeValidatorConfirmation:
      type: object
      properties:
        validatorAddress: { type: string }
        moniker: { oneOf: [{ type: string }, { type: 'null' }] }
        timestamp: { type: string, description: Unix seconds. }
      required: [validatorAddress, moniker, timestamp]

    BridgeDeposit:
      type: object
      properties:
        id: { type: string }
        txid: { type: string, description: Steem transaction id. }
        opIndex: { type: integer }
        steemBlock: { type: string }
        steemTimestamp: { type: string, format: date-time }
        steemSender: { type: string }
        gatewayAccount: { type: string }
        amountMillisteem: { type: string }
        memo: { type: string }
        derivedDestination: { type: string }
        destinationType: { type: string, enum: [DESTINATION_TYPE_NONE, DESTINATION_TYPE_COSMOS, DESTINATION_TYPE_EVM] }
        status: { type: string, enum: [DEPOSIT_STATUS_PENDING, DEPOSIT_STATUS_MINTED, DEPOSIT_STATUS_UNCLAIMABLE] }
        minted: { type: boolean }
        mintedAt: { type: string, description: 'SVM block height, "0" if not yet minted.' }
        mintTxHash: { type: string }
        createdAtHeight: { type: string }
        validatorConfirmations:
          type: array
          items: { $ref: '#/components/schemas/BridgeValidatorConfirmation' }
        asset: { type: string, enum: [BRIDGE_ASSET_STEEM, BRIDGE_ASSET_SBD], description: Both values are live on this chain — mints `asteem` or `asbd` respectively, both at 18 decimals under the same `amountMillisteem` numeric convention. Never assume STEEM; always read this field for the display unit. }
      required: [id, txid, opIndex, steemBlock, steemTimestamp, steemSender, gatewayAccount, amountMillisteem, memo, derivedDestination, destinationType, status, minted, mintedAt, mintTxHash, createdAtHeight, validatorConfirmations, asset]

    BridgeAssetTotal:
      type: object
      properties:
        asset: { type: string, enum: [BRIDGE_ASSET_STEEM, BRIDGE_ASSET_SBD] }
        amountMillisteem: { type: string, description: 3-decimal convention, same as BridgeDeposit/BridgeWithdrawal's amountMillisteem. }
      required: [asset, amountMillisteem]

    BridgeAssetCount:
      type: object
      properties:
        asset: { type: string, enum: [BRIDGE_ASSET_STEEM, BRIDGE_ASSET_SBD] }
        count: { type: integer }
      required: [asset, count]

    BridgeDepositStats:
      type: object
      properties:
        pending: { type: integer }
        minted: { type: integer }
        unclaimable: { type: integer }
        total: { type: integer, description: Count of deposits indexed as `bridgeDeposits` docs — does not include SVMNS name-registration mints. }
        countByAsset:
          type: array
          items: { $ref: '#/components/schemas/BridgeAssetCount' }
          description: Count of deposits (any status), grouped by asset.
        mintedByAsset:
          type: array
          items: { $ref: '#/components/schemas/BridgeAssetTotal' }
          description: Sum of amountMillisteem across MINTED deposits, grouped by asset — computed from our own indexed data, not a chain LCD call. Excludes SVMNS name-registration mints.
      required: [pending, minted, unclaimable, total, countByAsset, mintedByAsset]

    BridgeWithdrawal:
      type: object
      properties:
        id: { type: string }
        sender: { type: string, description: SVM account that burned the tokens. }
        destinationSteemAccount: { type: string }
        amountAsteem: { type: string, description: 18 decimals. }
        amountMillisteem: { type: string, description: Convenience 3-decimal duplicate of amountAsteem. }
        memo: { type: string }
        burnTxHash: { type: string, description: 'SVM chain tx hash (indexed — links to GET /transactions/{hash}).' }
        status: { type: string, enum: [WITHDRAWAL_STATUS_REQUESTED, WITHDRAWAL_STATUS_PROCESSED, WITHDRAWAL_STATUS_REFUNDED] }
        createdAtHeight: { type: string }
        asset: { type: string, enum: [BRIDGE_ASSET_STEEM, BRIDGE_ASSET_SBD], description: Both values are live on this chain — see BridgeDeposit's `asset` description. }
        feeMillisteem: { type: string, description: Protocol fee withheld from the withdrawal, sent to the bridge_reward module account. }
        steemPayoutTxid: { type: string, description: 'The Steem-side payout transaction id, set once status is PROCESSED. Empty string until then.' }
        payoutOpIndex: { type: integer }
        processedAtHeight: { type: string, description: 'SVM block height the withdrawal was marked PROCESSED at; "0" until then.' }
        refundedAtHeight: { type: string, description: 'SVM block height an unconfirmed withdrawal auto-refunded at past the timeout, without ever being attested; "0" unless that happened.' }
        validatorConfirmations:
          type: array
          items: { $ref: '#/components/schemas/BridgeValidatorConfirmation' }
      required: [id, sender, destinationSteemAccount, amountAsteem, amountMillisteem, memo, burnTxHash, status, createdAtHeight, asset, feeMillisteem, steemPayoutTxid, payoutOpIndex, processedAtHeight, refundedAtHeight, validatorConfirmations]

    BridgeWithdrawalStats:
      type: object
      properties:
        total: { type: integer }
        requested: { type: integer }
        processed: { type: integer }
        withdrawnByAsset:
          type: array
          items: { $ref: '#/components/schemas/BridgeAssetTotal' }
          description: Sum of amountMillisteem across every indexed withdrawal, grouped by asset — computed from our own indexed data, not a chain LCD call. Not status-filtered.
      required: [total, requested, processed, withdrawnByAsset]

    NameRecord:
      type: object
      properties:
        steemAccount: { type: string }
        address: { type: string }
        registrationId: { type: string }
        linkedAt: { type: string, description: SVM block height. }
      required: [steemAccount, address, registrationId, linkedAt]

    NameRegistration:
      type: object
      properties:
        id: { type: string }
        txid: { type: string }
        opIndex: { type: integer }
        steemBlock: { type: string }
        steemTimestamp: { type: string, description: 'ISO-8601 UTC, or the literal "genesis" for a genesis-seeded registration.' }
        steemAccount: { type: string }
        gatewayAccount: { type: string }
        amountMillisteem: { type: string, description: 'STEEM sent alongside the registration request — minted to `derivedDestination` on confirmation, same mechanism as a bridge deposit. Not a fee; nothing is withheld.' }
        memo: { type: string }
        derivedDestination: { type: string }
        destinationType: { type: string, enum: [DESTINATION_TYPE_NONE, DESTINATION_TYPE_COSMOS, DESTINATION_TYPE_EVM] }
        status: { type: string, description: 'One of NAME_REGISTRATION_STATUS_{PENDING,AWAITING,ACTIVE,SUPERSEDED,EXPIRED}.' }
        createdAtHeight: { type: string }
        awaitingSinceHeight: { type: string }
        confirmedAtHeight: { type: string }
        confirmTxHash: { type: string }
        validatorConfirmations:
          type: array
          items: { $ref: '#/components/schemas/BridgeValidatorConfirmation' }
      required: [id, txid, opIndex, steemBlock, steemTimestamp, steemAccount, gatewayAccount, amountMillisteem, memo, derivedDestination, destinationType, status, createdAtHeight, awaitingSinceHeight, confirmedAtHeight, confirmTxHash, validatorConfirmations]

    ChainParamsResponse:
      type: object
      properties:
        staking: { type: [object, 'null'], additionalProperties: true }
        mint: { type: [object, 'null'], additionalProperties: true }
        distribution: { type: [object, 'null'], additionalProperties: true }
        slashing: { type: [object, 'null'], additionalProperties: true }
        gov:
          type: object
          properties:
            votingParams: { type: [object, 'null'], additionalProperties: true }
            depositParams: { type: [object, 'null'], additionalProperties: true }
            tallyParams: { type: [object, 'null'], additionalProperties: true }
        bridge:
          oneOf:
            - $ref: '#/components/schemas/BridgeParams'
            - type: 'null'
        oracle:
          oneOf:
            - $ref: '#/components/schemas/OracleParams'
            - type: 'null'
      required: [staking, mint, distribution, slashing, gov, bridge, oracle]

    BridgeParams:
      type: object
      description: The `steembridge` module's own Params query (over LCD, not ABCI) — `null` when `STEEMBRIDGE_LCD_URL` isn't configured.
      properties:
        bridgeEnabled: { type: boolean }
        bridgeOutEnabled: { type: boolean }
        gatewayAccount: { type: string, description: 'Display-only — the real gateway account is a hardcoded chain constant ("svm.bank"), not governance-configurable via this field.' }
        bridgeConfirmationThreshold: { type: string, description: Decimal string (0-1) — share of bonded power required before a deposit mints. }
        minimumBridgeAmount: { type: string, description: 'asteem, 18 decimals. "0" means no minimum.' }
        maximumBridgeAmount: { type: string, description: 'asteem, 18 decimals. "0" means no maximum.' }
        depositTimeoutBlocks: { type: string }
        nameServiceEnabled: { type: boolean }
        nameRegistrationMinMillisteem: { type: string }
        namePendingTimeoutBlocks: { type: string }
        relayerStartBlock: { type: string }
        bridgeFeeBps: { type: integer, description: Fee in basis points (25 = 0.25%). }
        withdrawalTimeoutBlocks: { type: string, description: Blocks a withdrawal can stay REQUESTED before it auto-refunds on-chain without ever being attested as paid. }
      required: [bridgeEnabled, bridgeOutEnabled, gatewayAccount, bridgeConfirmationThreshold, minimumBridgeAmount, maximumBridgeAmount, depositTimeoutBlocks, nameServiceEnabled, nameRegistrationMinMillisteem, namePendingTimeoutBlocks, relayerStartBlock, bridgeFeeBps, withdrawalTimeoutBlocks]

    OracleParams:
      type: object
      description: The `oracledata` module's Params query (over LCD) — `null` when `STEEMBRIDGE_LCD_URL` isn't configured.
      properties:
        votePeriod: { type: string, description: Blocks between each price-feed aggregation round. }
        voteThreshold: { type: string, description: Decimal string (0-1) — share of bonded power required to finalize a rate. }
        rewardBand: { type: string, description: Decimal string — tolerance around the median vote that still earns a reward. }
        missBand: { type: string, description: Decimal string — tolerance around the median vote before a validator is marked as missing. }
        whitelist:
          type: array
          items: { type: string }
          description: Whitelisted price pairs, e.g. STEEM/USD_External.
      required: [votePeriod, voteThreshold, rewardBand, missBand, whitelist]

    ExchangeRate:
      type: object
      properties:
        pair: { type: string }
        rate: { type: string, description: Power-weighted-median rate, as a decimal string. }
        updateEpoch: { type: string, description: Internal aggregation round counter, not a wall-clock value. }
        updateTime: { type: string, description: Unix seconds. }
      required: [pair, rate, updateEpoch, updateTime]

    DenomMetadataResponse:
      type: object
      properties:
        denom: { type: string }
        displayName: { type: string }
        symbol: { type: string }
        decimals: { type: integer }
        source: { type: string, enum: [seed, manual, fallback] }
      required: [denom, displayName, symbol, decimals, source]
